body{
    background: url(corona.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form{
    margin-left: 150px;
    margin-right: auto;
    position: relative;
}

input{
    margin: 30px 20px 20px 20px;
    height: 35px;
    width: 200px;

}

#submitBtn{
background-color: blue;
height: 35px;
    width: 200px;
}
#mainDiv{
    text-align: center;
}
.infoDiv{
    margin: auto;
    background-color: blue;
    width:20% ;
    height: auto;
    text-align: center;
}